*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}


.notificationPopap {
    width: 400px;
    height: 100px;
    background-color: #000000d5;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -200px;
    z-index: 11;
    border-radius: 10px;
  }

.cardPopap{
    width: 23%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0, 0.5);
    right: -23%;
    padding: 20px;
    transition: 1s;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-left: 1px solid#000;
    .topCardContainer{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        h5{
            font-size: 22px;
            font-weight: 500;
            color: #fff;
        }
        p{
            font-size: 18px;
            color: #fff;
        }
        i{
            color: #fff;
            cursor: pointer;
            font-size: 25px;
        }
    }
    .popapProductContainer{
        width: 100%;
        height: 60vh;
        .saleProductItem{
            width: 100%;
            height: 35px;
            border: 1px solid #fff;
            border-radius: 10px;
            color: #3a3a3a;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px 0 10px;
           

            .item{
                width: 50px;
                h4{
                    font-weight: 500;
                    color: #fff;
                }
                .sum{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                }
                button{
                    cursor: pointer;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 20px;
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    display: flex;
                    i{
                        color: red;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .inputPopapContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            margin-top: 20px;
            backdrop-filter: blur(10px);
            background-color: rgba(77, 76, 76, 0.5);
            color: #fff;
          }

          input:focus {
            outline: 1px solid #fff;
          }

          input::placeholder{
            color: #fff;
          }
          
        .buyBtn{
            color: #fff;
            padding: 10px 20px;
            background-image: linear-gradient(to right, #2AF699, #009EFD);
            border-radius: 20px;
            margin-top: 5px;
            border: none;
            cursor: pointer;
            margin-top: 50px;
            i{
                font-size: 14px;
                color: #fff;
            }
        }
    }
   
}

.securityPopap{
    width: 400px;
    height: 250px;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0, 0.5);
    border-radius: 20px;
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -125px;
    h3{
        color: #fff;
        font-weight: 500;
    }
    input{
        width: 300px;
        height: 50px;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
    }
    button{
        padding: 10px 30px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
}

.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    overflow-x: hidden;

    .firstPage{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-image: url('./main_img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.jpg');
        background-position: center;
        background-size: cover;
        
        header{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-between;
            padding: 20px 50px;
            align-items: center;
            transition: .2s;
            position: fixed;
            top: 0;
            z-index: 3;
            .logo{
                cursor: pointer;
            }

            ul{
                display: flex;
                align-items: center;
                transition: .2s;

                .gradientText{
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    -webkit-background-clip: text; 
                    background-clip: text; 
                    color: transparent; 
                }

                li{
                    list-style: none;
                    font-size: 18px;
                    margin: 0 20px;
                    color: #fff;
                    cursor: pointer;
                    transition: .2s;
                }
            }

            .cartContainer{
                display: flex;
                cursor: pointer;

                .count{
                    width: 23px;
                    height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    color: #2D3949;
                    margin-left: -11px;
                    font-size: 15px;
                }
            }

            i{
                display: none;
            }
        }

        .homePage{
            width: 100%;
            height: 90vh;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            top: 10vh;
            h1{
                margin-top: 45px;
                font-size: 45px;
                color: #fff;
            }

            p{
                margin-top: 50px;
                color: #fff;
                font-size: 18px;
            }

            .searchContainer{
                margin-top: 30px;
                display: flex;
                align-items: center;

                input{
                    width:350px;
                    height: 50px;
                    border-radius: 30px;
                    outline: none;
                    border: 1px solid #fff;
                    padding: 0 45px 0 15px;
                    backdrop-filter: blur(1px);
                    background-color: rgba(213, 213, 213, 0.3);
                    color: #fff;
                }

                input::placeholder{
                    color: #fff;
                }

                button{
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    margin-left: -40px;
                    z-index: 1;
                }
            }

            .SvgContainer{
                width: 100%;
                padding: 30px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .secondPage{
        width: 100%;
        min-height: 100vh;
        padding: 50px;
        .serviceDetailsContainer{
            width: 100%;
            min-height: 15vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .serviceDetails{
                display: flex;
                align-items: center;

                .contentServise{

                    h5{
                        font-size: 20px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 15px;
                        color: #4F4F4F;
                    };

                }
            }
        }

        .productDetailsContainer{
            width: 100%;
            min-height: 85vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .productContentContainer{
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                h2{
                    font-size: 40px;
                    font-weight: 500;
                    margin-top: 50px;
                }

                p{
                    margin-top: 20px;
                    color: #4F4F4F;
                }
            }

            .productCardContainer{
                width: 75%;
                min-height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .productCard{

                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 40px;
                    margin: 50px 10px;

                    .productCardContent{
                        padding: 40px 20px;
                        width: 300px;
                        height: 200px;
                        background-color: #fff;
                        border-radius: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h4{
                            font-size: 18px;
                            font-weight: 500;
                        }
                        i{
                            color: #fdca00;
                        }
                        button{
                            background-image: linear-gradient(to right, #2AF699, #009EFD);
                            height: 25px;
                            border-radius: 20px;
                            border: none;
                            color: #fff;
                            cursor: pointer;

                            i{
                                color: #fff;
                               
                            }
                        }
                    }
                }
            }
        }
    }

    .thirdPage{
        width: 100%;
        min-height: 100vh;
        text-align: center;
        padding: 50px;
        h2{
            font-size: 45px;
            font-weight: 500;
        }
        p{
            color: #4F4F4F;
        }
       .photoContainer{
        width: 100%;
        display: flex;
        min-height: 75vh;
        // padding: 50px;
        .leftPhotoContainer{
            width: 50%;
            min-height: 75vh;
            padding: 10px;


            .topPhoto{
                width: 100%;
                height: 40vh;
                background-image: url('./main_img/Group\ 15.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 30px;

            }

            .bottomPhoto{
                width: 100%;
                height: 35vh;
                background-image: url('./main_img/high-angle-desk-arrangement-with-plants.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 30px;
                margin-top: 10px;
            }
        }
        .rightPhotoContainer{
            border-radius: 30px;
            margin-top: 10px;
            width: 50%;
            height: 76vh;
            background-image: url('./main_img/unsplash_MBsReSZ2WNM.jpg');
            background-size: cover;
            background-position: center;

        }
       }
    }
    .fourthPage{
        width: 100%;
        min-height: 70vh;
        padding: 50px;
        display: flex;
        h2{
            font-size: 40px;
            font-weight: 400;
        }

        p{
            color: #4F4F4F;
            margin-top: 20px;
        }

        .leftContentContainer{
            width: 50%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            
           
            

            .contentItem{
                display: flex;
                align-items: center;
                margin-top: 30px;
                .svgContainer{
                    width: 80px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .content{
                    h5{
                        font-size: 20px;
                        font-weight: 400;
                    }
    
                    p{
                       margin-top: 10px; 
                       color: #4F4F4F;
                    }
                }

            }
        }

        .rightPhoto{
            width: 50%;
            height: 60vh;
            background-image: url('./main_img/unsplash_sEApBUS4fIk.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 30px;
        }
    }

    footer{
        width: 100%;
        min-height: 40vh;
        background-image: linear-gradient(to right, #566270, #283444);
        display: flex;
        flex-direction: column;
        padding: 50px;
        .contentFooterContainer{
            display: flex;
            width:100%;
            min-height: 20vh;
            padding: 20px 0;
            border-bottom: 1px solid #fff;

            .inputContainer{
                width: 40%;
                h2{
                    color: #fff;
                    font-size: 30px;
                    font-weight: 400;
                }
                .mailContainer{
                    display: flex;
                    align-items: center;

                    input{
                        width:340px;
                        height: 50px;
                        border-radius: 30px;
                        margin-top: 50px;
                        padding: 0 130px 0 10px;
                        backdrop-filter: blur(1px);
                        background-color: rgba(213, 213, 213, 0.3);
                        border: none;
                        color: #fff;
                        outline: none;
                    }

                    input::placeholder{
                        color: #fff;
                    }
                    
                    button{
                        border-radius: 20px;
                        margin-top: 50px;
                        padding: 10px 20px;
                        margin-left: -115px;
                        background-image: linear-gradient(to right, #2AF699, #009EFD);
                        border: none;
                        z-index: 1;
                        color: #fff;
                    }
                }
            }

            .infoContainer{
                width: 20%;
                height: 15vh;
                h3{
                    color: #fff;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    list-style: none;
                    li{
                        margin-top: 20px;
                        color: #fff;
                    }
                }
            }
        }
        h4{
            text-align: center;
            margin-top: 50px;
            color: #fff;
            font-weight: 400;
            font-size: 20px;
        }
    }

}

@media screen and (max-width: 1330px){
    .wrap{
        .secondPage{
            
            .productDetailsContainer{
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .productCardContainer{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
     
    }
}

@media screen and (max-width: 1000px){
.wrap{
    .fourthPage{
        flex-direction: column;
        align-items: center;

        
        .leftContentContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        .rightPhoto{
            margin-top: 100px;
            width: 100%;
        }
    }
}
}

@media screen and (max-width: 827px) {
    .wrap{

       .firstPage{

        header{
            ul{
                display: none;
                li{
                    transition: 2s;
                }
            }

           
            #burger{
                display: flex;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
            }

            #exitBurger{
                display: none;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
                margin-top: 20px;
            }
        }
       }

       .secondPage{
        padding: 20px;
        .serviceDetailsContainer{
            flex-direction: column;
            align-items: center;
            .serviceDetails{
                width: 200px;
            }
        }
    }

    .thirdPage{
        padding: 20px;
        .photoContainer{
            flex-direction: column;
            .leftPhotoContainer{
                width: 100%;
                .topPhoto{
                    width: 100%;
                    height: 50vh;
                    padding: 0;
                }
                .bottomPhoto{
                    width: 100%;
                    height: 50vh;
                    padding: 0;
                }
            }
            .rightPhotoContainer{
                width: 100%;
                height: 50vh;
            }
        }
    }
    footer {
        text-align: center;
        padding: 10px;

        .contentFooterContainer {
            flex-direction: column;
            align-items: center;

            .inputContainer {
                width: 100%;
                margin-bottom: 20px;

                .mailContainer input {
                    width: 100%;
                    margin-top: 20px;
                }

                .mailContainer button {
                    margin-top: 20px;
                }
            }

            .infoContainer {
                width: 100%;
            
            }
        }
    }
    }
}

