*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;

    .firstPage{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-image: url('./main_img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.jpg');
        background-position: center;
        background-size: cover;

        header{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-between;
            padding: 20px 50px;
            align-items: center;
            transition: .2s;
            position: fixed;
            top: 0;
            z-index: 2;
            .logo{
                cursor: pointer;
            }

            ul{
                display: flex;
                align-items: center;
                transition: .2s;

                .gradientText{
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    -webkit-background-clip: text; 
                    background-clip: text; 
                    color: transparent; 
                }

                li{
                    list-style: none;
                    font-size: 18px;
                    margin: 0 20px;
                    color: #fff;
                    cursor: pointer;
                    transition: .2s;
                }
            }

            .cartContainer{
                display: flex;
                cursor: pointer;

                .current{
                    width: 23px;
                    height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    color: #2D3949;
                    margin-left: -11px;
                    font-size: 15px;
                }
            }

            i{
                display: none;
            }
        }

        .homePage{
            width: 100%;
            height: 90vh;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            top: 10vh;
            h1{
                margin-top: 45px;
                font-size: 45px;
                color: #fff;
            }

            p{
                margin-top: 50px;
                color: #fff;
                font-size: 18px;
            }

            .searchContainer{
                margin-top: 30px;
                display: flex;
                align-items: center;

                input{
                    width:350px;
                    height: 50px;
                    border-radius: 30px;
                    outline: none;
                    border: 1px solid #fff;
                    padding: 0 45px 0 15px;
                    backdrop-filter: blur(1px);
                    background-color: rgba(213, 213, 213, 0.3);
                    color: #fff;
                }

                input::placeholder{
                    color: #fff;
                }

                button{
                    background-image: linear-gradient(to right, #2AF699, #009EFD);
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    margin-left: -40px;
                    z-index: 1;
                }
            }

            .SvgContainer{
                width: 100%;
                padding: 30px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .secondPage{
        width: 100%;
        min-height: 100vh;
        padding: 50px;
        .serviceDetailsContainer{
            width: 100%;
            min-height: 15vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .serviceDetails{
                display: flex;
                align-items: center;

                .contentServise{

                    h5{
                        font-size: 20px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 15px;
                        color: #4F4F4F;
                    };

                }
            }
        }

        .productDetailsContainer{
            width: 100%;
            min-height: 85vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .productContentContainer{
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                h2{
                    font-size: 40px;
                    font-weight: 500;
                    margin-top: 50px;
                }

                p{
                    margin-top: 20px;
                    color: #4F4F4F;
                }
            }

            .productCardContainer{
                width: 75%;
                min-height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .productCard1{
                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 40px;
                    margin: 50px 10px;

                    .productCardContent1{
                        width: 300px;
                        height: 200px;
                        background-color: #fff;
                        border-radius: 40px;
                    }
                }
                .productCard2{
                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 40px;
                    margin: 50px 10px;

                    .productCardContent2{
                        width: 300px;
                        height: 200px;
                        background-color: #fff;
                        border-radius: 40px;
                    }
                }
                .productCard3{
                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 40px;
                    margin: 50px 10px;
                    .productCardContent3{
                        width: 300px;
                        height: 200px;
                        background-color: #fff;
                        border-radius: 40px;
                    }
                }
                .productCard4{
                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 40px;
                    margin: 50px 10px;
                    .productCardContent4{
                        width: 300px;
                        height: 250px;
                        background-color: #fff;
                        border-radius: 40px;
                    }
                }
                .productCard5{
                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 40px;
                    margin: 50px 10px;
                    .productCardContent5{
                        width: 300px;
                        height: 250px;
                        background-color: #fff;
                        border-radius: 40px;
                    }
                }
                .productCard6{
                    width: 300px;
                    height: 400px;
                    background-color: #C1D0E4;
                    display: flex;
                    align-items: flex-end;
                    border-radius: 40px;
                    margin: 50px 10px;
                    .productCardContent6{
                        width: 300px;
                        height: 200px;
                        background-color: #fff;
                        border-radius: 40px;
                    }
                }
            }
        }
    }

    .thirdPage{
        width: 100%;
        height: 100vh;
        text-align: center;
        padding: 50px;
        h2{
            font-size: 45px;
            font-weight: 500;
        }
        p{
            color: #4F4F4F;
        }
       .photoContainer{
        width: 100%;
        display: flex;
        min-height: 75vh;
        // padding: 50px;
        .leftPhotoContainer{
            width: 50%;
            min-height: 75vh;
            padding: 10px;


            .topPhoto{
                width: 100%;
                height: 40vh;
                background-image: url('./main_img/Group\ 15.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 30px;

            }

            .bottomPhoto{
                width: 100%;
                height: 35vh;
                background-image: url('./main_img/high-angle-desk-arrangement-with-plants.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 30px;
                margin-top: 10px;
            }
        }
        .rightPhotoContainer{
            border-radius: 30px;
            margin-top: 10px;
            width: 50%;
            height: 76vh;
            background-image: url('./main_img/unsplash_MBsReSZ2WNM.jpg');
            background-size: cover;
            background-position: center;

        }
       }
    }
    .fourthPage{
        width: 100%;
        min-height: 70vh;
        padding: 50px;
        display: flex;
        h2{
            font-size: 40px;
            font-weight: 400;
        }

        p{
            color: #4F4F4F;
            margin-top: 20px;
        }

        .leftContentContainer{
            width: 50%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            
           
            

            .contentItem{
                display: flex;
                align-items: center;
                margin-top: 30px;
                .svgContainer{
                    width: 80px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .content{
                    h5{
                        font-size: 20px;
                        font-weight: 400;
                    }
    
                    p{
                       margin-top: 10px; 
                       color: #4F4F4F;
                    }
                }

            }
        }

        .rightPhoto{
            width: 50%;
            height: 60vh;
            background-image: url('./main_img/unsplash_sEApBUS4fIk.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 30px;
        }
    }

}

@media screen and (max-width: 1330px){
    .wrap{
        .secondPage{
            
            .productDetailsContainer{
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .productCardContainer{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
.wrap{
    .fourthPage{
        flex-direction: column;
        align-items: center;

        
        .leftContentContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        .rightPhoto{
            margin-top: 50px;
        }
    }
}
}

@media screen and (max-width: 827px) {
    .wrap{

       .firstPage{
        padding: 20px;
        header{
            ul{
                display: none;
                li{
                    transition: 2s;
                }
            }

            .cartContainer{

                display: none;
            }

            #burger{
                display: flex;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
            }

            #exitBurger{
                display: none;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
                margin-top: 20px;
            }
        }
       }

       .secondPage{
        padding: 20px;
        .serviceDetailsContainer{
            flex-direction: column;
            align-items: normal;
        }
    }

    .thirdPage{
        padding: 20px;
        .photoContainer{
            flex-direction: column;
            .leftPhotoContainer{
                width: 100%;
                .topPhoto{
                    width: 100%;
                    height: 50vh;
                    padding: 0;
                }
                .bottomPhoto{
                    width: 100%;
                    height: 50vh;
                    padding: 0;
                }
            }
            .rightPhotoContainer{
                width: 100%;
                height: 50vh;
            }
        }
    }
    }
}

