* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.wrap .firstPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./main_img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background 1.jpg");
  background-position: center;
  background-size: cover;
}
.wrap .firstPage header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  transition: 0.2s;
  position: fixed;
  top: 0;
  z-index: 2;
}
.wrap .firstPage header .logo {
  cursor: pointer;
}
.wrap .firstPage header ul {
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.wrap .firstPage header ul .gradientText {
  background-image: linear-gradient(to right, #2AF699, #009EFD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.wrap .firstPage header ul li {
  list-style: none;
  font-size: 18px;
  margin: 0 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.wrap .firstPage header .cartContainer {
  display: flex;
  cursor: pointer;
}
.wrap .firstPage header .cartContainer .current {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(to right, #2AF699, #009EFD);
  color: #2D3949;
  margin-left: -11px;
  font-size: 15px;
}
.wrap .firstPage header i {
  display: none;
}
.wrap .firstPage .homePage {
  width: 100%;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10vh;
}
.wrap .firstPage .homePage h1 {
  margin-top: 45px;
  font-size: 45px;
  color: #fff;
}
.wrap .firstPage .homePage p {
  margin-top: 50px;
  color: #fff;
  font-size: 18px;
}
.wrap .firstPage .homePage .searchContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.wrap .firstPage .homePage .searchContainer input {
  width: 350px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  border: 1px solid #fff;
  padding: 0 45px 0 15px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(213, 213, 213, 0.3);
  color: #fff;
}
.wrap .firstPage .homePage .searchContainer input::-moz-placeholder {
  color: #fff;
}
.wrap .firstPage .homePage .searchContainer input::placeholder {
  color: #fff;
}
.wrap .firstPage .homePage .searchContainer button {
  background-image: linear-gradient(to right, #2AF699, #009EFD);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-left: -40px;
  z-index: 1;
}
.wrap .firstPage .homePage .SvgContainer {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.wrap .secondPage {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
}
.wrap .secondPage .serviceDetailsContainer {
  width: 100%;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .secondPage .serviceDetailsContainer .serviceDetails {
  display: flex;
  align-items: center;
}
.wrap .secondPage .serviceDetailsContainer .serviceDetails .contentServise h5 {
  font-size: 20px;
  font-weight: 500;
}
.wrap .secondPage .serviceDetailsContainer .serviceDetails .contentServise p {
  font-size: 15px;
  color: #4F4F4F;
}
.wrap .secondPage .productDetailsContainer {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .secondPage .productDetailsContainer .productContentContainer {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrap .secondPage .productDetailsContainer .productContentContainer h2 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 50px;
}
.wrap .secondPage .productDetailsContainer .productContentContainer p {
  margin-top: 20px;
  color: #4F4F4F;
}
.wrap .secondPage .productDetailsContainer .productCardContainer {
  width: 75%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard1 {
  width: 300px;
  height: 400px;
  background-color: #C1D0E4;
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  margin: 50px 10px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard1 .productCardContent1 {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 40px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard2 {
  width: 300px;
  height: 400px;
  background-color: #C1D0E4;
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  margin: 50px 10px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard2 .productCardContent2 {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 40px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard3 {
  width: 300px;
  height: 400px;
  background-color: #C1D0E4;
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  margin: 50px 10px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard3 .productCardContent3 {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 40px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard4 {
  width: 300px;
  height: 400px;
  background-color: #C1D0E4;
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  margin: 50px 10px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard4 .productCardContent4 {
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 40px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard5 {
  width: 300px;
  height: 400px;
  background-color: #C1D0E4;
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  margin: 50px 10px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard5 .productCardContent5 {
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 40px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard6 {
  width: 300px;
  height: 400px;
  background-color: #C1D0E4;
  display: flex;
  align-items: flex-end;
  border-radius: 40px;
  margin: 50px 10px;
}
.wrap .secondPage .productDetailsContainer .productCardContainer .productCard6 .productCardContent6 {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 40px;
}
.wrap .thirdPage {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 50px;
}
.wrap .thirdPage h2 {
  font-size: 45px;
  font-weight: 500;
}
.wrap .thirdPage p {
  color: #4F4F4F;
}
.wrap .thirdPage .photoContainer {
  width: 100%;
  display: flex;
  min-height: 75vh;
}
.wrap .thirdPage .photoContainer .leftPhotoContainer {
  width: 50%;
  min-height: 75vh;
  padding: 10px;
}
.wrap .thirdPage .photoContainer .leftPhotoContainer .topPhoto {
  width: 100%;
  height: 40vh;
  background-image: url("./main_img/Group 15.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.wrap .thirdPage .photoContainer .leftPhotoContainer .bottomPhoto {
  width: 100%;
  height: 35vh;
  background-image: url("./main_img/high-angle-desk-arrangement-with-plants.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-top: 10px;
}
.wrap .thirdPage .photoContainer .rightPhotoContainer {
  border-radius: 30px;
  margin-top: 10px;
  width: 50%;
  height: 76vh;
  background-image: url("./main_img/unsplash_MBsReSZ2WNM.jpg");
  background-size: cover;
  background-position: center;
}
.wrap .fourthPage {
  width: 100%;
  min-height: 70vh;
  padding: 50px;
  display: flex;
}
.wrap .fourthPage h2 {
  font-size: 40px;
  font-weight: 400;
}
.wrap .fourthPage p {
  color: #4F4F4F;
  margin-top: 20px;
}
.wrap .fourthPage .leftContentContainer {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.wrap .fourthPage .leftContentContainer .contentItem {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.wrap .fourthPage .leftContentContainer .contentItem .svgContainer {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .fourthPage .leftContentContainer .contentItem .content h5 {
  font-size: 20px;
  font-weight: 400;
}
.wrap .fourthPage .leftContentContainer .contentItem .content p {
  margin-top: 10px;
  color: #4F4F4F;
}
.wrap .fourthPage .rightPhoto {
  width: 50%;
  height: 60vh;
  background-image: url("./main_img/unsplash_sEApBUS4fIk.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

@media screen and (max-width: 1330px) {
  .wrap .secondPage .productDetailsContainer {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .wrap .secondPage .productDetailsContainer .productCardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .wrap .fourthPage {
    flex-direction: column;
    align-items: center;
  }
  .wrap .fourthPage .leftContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .wrap .fourthPage .rightPhoto {
    margin-top: 50px;
  }
}
@media screen and (max-width: 827px) {
  .wrap .firstPage {
    padding: 20px;
  }
  .wrap .firstPage header ul {
    display: none;
  }
  .wrap .firstPage header ul li {
    transition: 2s;
  }
  .wrap .firstPage header .cartContainer {
    display: none;
  }
  .wrap .firstPage header #burger {
    display: flex;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .wrap .firstPage header #exitBurger {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  .wrap .secondPage {
    padding: 20px;
  }
  .wrap .secondPage .serviceDetailsContainer {
    flex-direction: column;
    align-items: normal;
  }
  .wrap .thirdPage {
    padding: 20px;
  }
  .wrap .thirdPage .photoContainer {
    flex-direction: column;
  }
  .wrap .thirdPage .photoContainer .leftPhotoContainer {
    width: 100%;
  }
  .wrap .thirdPage .photoContainer .leftPhotoContainer .topPhoto {
    width: 100%;
    height: 50vh;
    padding: 0;
  }
  .wrap .thirdPage .photoContainer .leftPhotoContainer .bottomPhoto {
    width: 100%;
    height: 50vh;
    padding: 0;
  }
  .wrap .thirdPage .photoContainer .rightPhotoContainer {
    width: 100%;
    height: 50vh;
  }
}/*# sourceMappingURL=style.css.map */